# Documentation
HELP.md

# Build output
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Sensitive Spring config files
**/application.yml
**/application.properties
**/bootstrap.yml
**/bootstrap.properties

# Environment files
.env
.env.*

# IDEs

## Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code
.vscode/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
